<%= render "employees/header"%>

<h1>Employee</h1>
    
    <%= link_to "Personal Detail",  employee_path(@employee) %>
    
    <%= link_to "Apply for leave",  new_employee_leave_path(@employee)%>
  


